// Variables
$coog-black: #131111;
$coog-white: #e0e0e0;
$coog-red: #ff2323;
$coog-green: #005f20;
$coog-blue: #070bce;
$color-grey: grey;
$color-theme-1: rgb(0, 29, 50);
$color-theme-2: rgb(61, 147, 205);
